@import url('app.css');
.data-container {
    min-height: 100vh;
    background-color: var(--color-secondary);
    padding: 2rem;
    
}
.first-section-data-container{
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.search-options-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}
.data-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.filters-container {
    display: flex;
    gap: 1rem;
}
.last-search-container{
    display: flex;
    justify-content: space-between;
}