@import url(./app.css);

.login-container {
    height: 100vh;
    width: 100%;
    background-color: var(--color-secondary);
}
.app-bar-login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.login-main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.login-first-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}
.login-first-texts-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.text-pilars-container {
    width: 100%;
    display: flex;
}
.strong-typo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    width: 50%;
}
.strong-typo {
    background-color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 5px;

}
.pilar-img-container {
    display: flex;
    justify-content: center;
    width: 50%;
}
.pilars-img {
    width: 70px;
}
.form-text {
    display: none;
}
.form-container {
    display: flex;
    flex-direction: column;
}
@media screen and (min-height: 800px) {
    .login-first-section-container {
        height: 500px;
        gap: 3rem;
    }
    .login-first-texts-container {
        gap: 3rem;
    }
}
@media screen and (min-width: 768px) {
    .login-container {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .appbar-main-container {
        display: none;
    }
    .login-main-content-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .login-first-section-container {
        gap: 4rem;
        width: 50%;
        background-color: var(--color-primary);
        border-radius: 10px;
        padding: 1rem;
    }
    .strong-typo {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }
    .login-form-container {
        width: 50%;
    }
    .form-text {
        display: block;
    }
    .login-leading-text {
        color: var(--color-secondary);
    }
    .login-text-field{
        width: 30rem;
    }
}