.login-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
}

.info-Grid {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.login-info-bar {
    height: 3rem;
}

.login-info-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 5rem;
}

.remarked-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.info-remarked {
    padding: 0.2rem;
}

.login-form-container {
    margin-bottom: 6rem;
}

@media screen and (min-width: 800px) {
    .login-container {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        align-items: center;
        justify-content: center;
    }

    .login-info-container {
        padding-top: 0;
    }

    .login-form-container {
        margin-bottom: 0;
    }
}