@import url('app.css');
.tasks-main-container {
    min-height: 100vh;
    background-color: var(--color-secondary)
}

.tasks-add-section {
    padding-top: 4rem;

}

.cards-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card-first-section {
    display: flex;
    justify-content: space-between;
}
.delete-confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.189);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 60%;
}
.main-confirmation-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: var(--color-secondary);
    border-radius: 10px;
}
@media screen and (min-width: 770px) {
    .delete-confirmation-container {
        padding-top: 20%;
    }
}