.tasks-main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--color-secondary)
}

.tasks-add-section {
    padding-top: 4rem;
}

.test {
    background-color: red   ;
}